<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${error}"></p>
    <h1>Peer to Peer Chat Program</h1>
    <form action="/change-name" method="post">
        <label for="name" id="name">Your username: </label>
        <input type="text" name="name" th:value="${name}">
        <button type="submit">Update</button> <span th:text="${nameChanged}"></span>
    </form>
<ul th:each="message : ${messages}">
    <li th:utext="${message.getUsername()} + '<br/>' + ${message.getText()}"></li>
</ul>
<form action="/send-message" method="post">
    <textarea type="text" name="text"></textarea>
    <button type="submit">Send</button><br>
    <a href="/">Refresh</a>
</form>
</body>
</html>